#header {
  margin-bottom: 45px;
  .header-container {
    display: flex;

    .logo {
      display: flex;
      width: 120px;

      @media screen and (min-width: 768px) {
        width: 230px;
      }

      img {
        width: 100%;
      }
    }
  }
}

#main {
  //   border: 2px solid red;
  margin-bottom: 50px;

  .container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .illustration {
      display: flex;

      img {
        width: 100%;
      }
    }

    .intro {
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 15px;

      .title {
        font-family: Poppins;
        font-size: 24px;
        line-height: 34px;
      }
    }

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      align-items: center;

      .illustration,
      .intro {
        width: 50%;
      }

      .intro {
        text-align: left;
        align-items: flex-start;
        gap: 20px;

        .title {
          font-size: 45px;
          line-height: 55px;
          width: 80%;
        }

        .text {
          width: 80%;
        }
      }
    }
  }
}

#footer {
  .container {
    display: flex;
    justify-content: center;

    .socials-icons {
      display: flex;
      align-items: center;
      gap: 20px;

      button {
        border: 1px solid var(--clr-white);
        display: flex;
        border-radius: 50%;
        padding: 8px;

        &:hover {
          border-color: var(--clr-soft-magenta);

          svg {
            fill: var(--clr-soft-magenta);
          }
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .container {
      justify-content: flex-end;
    }
  }
}
