.btn {
  color: var(--clr-violet);
  background-color: var(--clr-white);
  padding: 10px;
  border-radius: 50px;
  width: 180px;
  box-shadow: 2px 5px 14px rgba(0, 0, 0, 0.4);
}

.container {
  width: 85%;
  margin: 0 auto;
}
